@model BusinessObject.Models.Customer

@{
    ViewData["Title"] = "PersonalProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PersonalProfile</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Avatar" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontIdcard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontIdcard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackIdcard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackIdcard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portrait)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portrait)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ward_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ward_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("SellerRegister", "SellerRegister", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
